/* ---------------------------------------------
*   lead
--------------------------------------------- */
.lead {
	margin-top: 90px;
	margin-bottom: 80px;

	@media screen and (max-width: #{$breakpoint-pc}px) {
		margin-top: pxtovw(90, 'pc');
		margin-bottom: pxtovw(80, 'pc');
	}

	@media screen and (max-width: #{$breakpoint-sp}px) {
		margin-top: pxtovw(90 * 0.52, 'sp');
		margin-bottom: pxtovw(80 * 0.52, 'sp');
	}
}

/* ---------------------------------------------
*   contents-access
--------------------------------------------- */
.contents-access {
	&__head {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			margin-bottom: pxtovw(15, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			margin-bottom: pxtovw(25, 'sp');
		}

		.c-txt-color {
			margin-bottom: 30px;

			@media screen and (max-width: #{$breakpoint-pc}px) {
				margin-bottom: pxtovw(30, 'pc');
			}

			@media screen and (max-width: #{$breakpoint-sp}px) {
				margin-bottom: pxtovw(20, 'sp');
			}
		}
	}

	&__head-img {
		@media screen and (max-width: #{$breakpoint-sp}px) {
			display: none;
		}
	}

	&__contents {
		background-color: $white1;
		padding: 60px 60px 75px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding: pxtovw(60, 'pc') pxtovw(60, 'pc') pxtovw(75, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding: pxtovw(17, 'sp') pxtovw(17, 'sp') pxtovw(40, 'sp');
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: #{$breakpoint-sp}px) {
			display: block;
		}
	}

	&__img {
		margin-right: 50px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			margin-right: pxtovw(60, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			width: 100%;
			margin-right: 0;
			margin-bottom: pxtovw(30, 'sp');

			img {
				width: 100%;
			}
		}
	}

	&__txt-head {
		border-bottom: 1px solid $black2;
		padding-bottom: 20px;
		margin-bottom: 25px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-bottom: pxtovw(20, 'pc');
			margin-bottom: pxtovw(25, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-bottom: pxtovw(15, 'sp');
			margin-bottom: pxtovw(15, 'sp');
		}
	}

	&__ttl {
		width: 397px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			width: pxtovw(397, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			width: pxtovw(252, 'sp');
		}

		img {
			width: 100%;
		}
	}

	&__detail {
		width: 100%;
	}

    &__detail-txt {
        color: $black2;
        font-size: pxtorem(18, 'pc');
        margin-bottom: 10px;
        line-height: 2;

        @media screen and (max-width: #{$breakpoint-pc}px) {
        	font-size: pxtovw(18, 'pc');
        	margin-bottom: pxtovw(10, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
        	font-size: pxtorem(13, 'sp');
        }

        &:first-of-type {
        	width: 5em;
        }
    }

    &__txt-l {
        color: $theme2;
        font-family: $ff-mplus;
        font-size: pxtorem(28, 'pc');
        margin-bottom: 35px;
        padding-top: 75px;

        @media screen and (max-width: #{$breakpoint-pc}px) {
        	font-size: pxtovw(28, 'pc');
	        margin-bottom: pxtovw(35, 'pc');
	        padding-top: pxtovw(75, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
        	font-size: pxtovw(15, 'sp');
        	padding-top: pxtovw(25, 'sp');
        	margin-bottom: pxtovw(25, 'sp');
        }
    }

    &__btn {
    	display: flex;
    	justify-content: center;
    	margin-top: 70px;

    	@media screen and (max-width: #{$breakpoint-pc}px) {
    		margin-top: pxtovw(70, 'pc');
    	}

    	@media screen and (max-width: #{$breakpoint-sp}px) {
    		display: block;
    	}

    	.c-btn:nth-of-type(2) {
    		margin-left: 20px;

    		@media screen and (max-width: #{$breakpoint-pc}px) {
    			margin-left: pxtovw(20, 'pc');
    		}

    		@media screen and (max-width: #{$breakpoint-sp}px) {
    			margin-left: auto;
    			margin-top: pxtovw(15, 'sp');
    		}
    	}
    }
}

/* ---------------------------------------------
*   contents-table
--------------------------------------------- */
.contents-table {
	$host: &;
	display: flex;
	justify-content: space-between;
	margin-top: 55px;

	@media screen and (max-width: #{$breakpoint-pc}px) {
		margin-top: pxtovw(55, 'pc');
	}

	@media screen and (max-width: #{$breakpoint-sp}px) {
		display: block;
	}

	&__inner {
		width: percentage(560/1200);

		@media screen and (max-width: #{$breakpoint-sp}px) {
			width: 100%;
		}
	}

	&__box {
		max-width: 563px;
		margin-bottom: 10px;
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			margin-bottom: pxtovw(10, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			max-width: 100%;
			margin-bottom: pxtovw(10, 'sp');
		}
	}

	&__txt {
		font-size: pxtorem(16, 'pc');
		font-weight: bold;
		width: percentage(300/563);
		padding-top: 25px;
		padding-left: 20px;
		margin-right: 5px;
		line-height: 2;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			font-size: pxtovw(16, 'pc');
			padding-top: pxtovw(25, 'pc');
			padding-left: pxtovw(20, 'pc');
			margin-right: pxtovw(5, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			font-size: pxtorem(11, 'sp');
		}

		@at-root #{$host}__inner--1 #{$host}__box:nth-child(2n - 1) & {
			background-color: $orange1;
		}

		@at-root #{$host}__inner--1 #{$host}__box:nth-child(2n) & {
			background-color: $orange2;
		}

		@at-root #{$host}__inner--2 #{$host}__box:nth-child(2n - 1) & {
			background-color: $orange2;
		}

		@at-root #{$host}__inner--2 #{$host}__box:nth-child(2n) & {
			background-color: $orange1;
		}

		&--narrow {
			padding-top: 5px;

			@media screen and (max-width: #{$breakpoint-pc}px) {
				padding-top: pxtovw(5, 'pc');
			}

			@media screen and (max-width: #{$breakpoint-sp}px) {
				padding-top: pxtovw(5, 'sp');
			}
		}
	}

	&__list {
		width: percentage(260/563);
	}

	&__list-item {
		font-size: pxtorem(16, 'pc');
		border-bottom: 1px solid $gray2;
		padding: 8px;
		padding-left: 15px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			font-size: pxtovw(16, 'pc');
			border-bottom: 1px solid $gray2;
			padding: pxtovw(8, 'pc');
			padding-left: pxtovw(15, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			font-size: pxtorem(11, 'sp');
			padding: pxtovw(8, 'sp');
			padding-left: pxtovw(15, 'sp');
		}
	}
}

/* ---------------------------------------------
*   contents-oc
--------------------------------------------- */
.contents-oc {
	&__ttl {
		max-width: 872px;
		width: calc(872vw/1920 * 100);
		margin: 0 auto 75px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			margin-bottom: pxtovw(75, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			width: pxtovw(329, 'sp');
			margin-bottom: pxtovw(30, 'sp');
		}

		img {
			width: 100%;
		}

		&--2 {
			max-width: 764px;
			margin-left: 10px;
			margin-bottom: 120px;

			@media screen and (max-width: #{$breakpoint-pc}px) {
				margin-left: pxtovw(50, 'pc');
				margin-bottom: pxtovw(120, 'pc');
			}

			@media screen and (max-width: 1100px) {
				margin-left: pxtovw(120, 'pc');
			}

			@media screen and (max-width: #{$breakpoint-sp}px) {
				width: pxtovw(250, 'sp');
				margin-left: 0;
				margin-bottom: pxtovw(30, 'sp');
			}
		}
	}

	&__icon {
		position: absolute;
		top: -70px;
		right: -70px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			right: pxtovw(50, 'pc');
		}

		@media screen and (max-width: 1100px) {
			top: pxtovw(-70, 'pc');
			right: pxtovw(100, 'pc');
			width: pxtovw(287, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			top: pxtovw(-25, 'sp');
			right: pxtovw(10, 'sp');
			width: pxtovw(90, 'sp');

			img {
				width: 100%;
			}
		}
	}

	&__inner {
		display: flex;

		@media screen and (max-width: #{$breakpoint-sp}px) {
			display: block;
			margin-top: 0;
		}
	}

	&__img {
		margin-top: 30px;

		@media screen and (max-width: #{$breakpoint-sp}px) {
			margin-top: pxtovw(30, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			width: pxtovw(401, 'sp');
			position: relative;
			margin-top: pxtovw(-95, 'sp');
			margin-bottom: pxtovw(20, 'sp');
			left: pxtovw(-55, 'sp');
			z-index: -1;

			img {
				width: 100%;
			}
		}
	}

	&__txt-area {
		margin-top: 85px;
		margin-left: 50px;
		flex-shrink: 0;
		width: 566px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			margin-top: pxtovw(85, 'pc');
			margin-left: pxtovw(50, 'pc');
			width: pxtovw(566, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			margin-left: 0;
			width: 100%;
		}

		.c-btn {
			margin: 70px auto 0;

			@media screen and (max-width: #{$breakpoint-pc}px) {
				margin-top: pxtovw(20, 'pc');
			}

			@media screen and (max-width: #{$breakpoint-sp}px) {
				margin-top: pxtovw(20, 'sp');
			}
		}
	}

	&__contact {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 70px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			margin-top: pxtovw(70, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			margin-top: pxtovw(35, 'sp');
			display: block;
		}

		&--2 {
			margin-top: 100px;

			@media screen and (max-width: #{$breakpoint-pc}px) {
				margin-top: pxtovw(100, 'pc');
			}

			@media screen and (max-width: #{$breakpoint-sp}px) {
				margin-top: pxtovw(35, 'sp');
			}
		}
	}

	&__contact-inner {
		display: flex;
		align-items: center;

		@media screen and (max-width: #{$breakpoint-sp}px) {
			margin-bottom: pxtovw(30, 'sp');
		}
	}

	&__contact-label {
		width: 200px;
		height: 75px;
		background-color: $white1;
		border-top-right-radius: 100px;
		border-bottom-right-radius: 100px;
		display: flex;
		align-items: center;
		padding-left: 15px;
		margin-right: 15px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			width: pxtovw(200, 'pc');
			height: pxtovw(75, 'pc');
			padding-left: pxtovw(15, 'pc');
			margin-right: pxtovw(15, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			width: pxtovw(220, 'sp');
			height: pxtovw(75, 'sp');
			padding-left: pxtovw(5, 'sp');
			margin-right: pxtovw(15, 'sp');
		}
	}

	&__contact-label-icon {
		display: block;
		width: 43px;
		height: 43px;
		margin-right: 10px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			width: pxtovw(43, 'pc');
			height: pxtovw(43, 'pc');
			margin-right: pxtovw(10, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			width: pxtovw(43, 'sp');
			height: pxtovw(43, 'sp');
			margin-right: pxtovw(10, 'sp');
		}

		img {
			width: 100%;
		}
	}

	&__contact-label-txt {
		font-size: pxtorem(18, 'pc');
		font-weight: bold;
		color: $theme2;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			font-size: pxtovw(18, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			font-size: pxtorem(13, 'sp');
		}
	}

	&__contact-tel {
		width: 280px;
		margin-right: 65px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			width: pxtovw(280, 'pc');
			margin-right: pxtovw(65, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			width: pxtovw(280, 'sp');
			margin-right: 0;
		}
	}
}

/* ---------------------------------------------
*   contents-support
--------------------------------------------- */
.contents-support {
	display: flex;
	align-items: center;
	margin: 70px 0;
	padding-left: 180px;

	@media screen and (max-width: #{$breakpoint-pc}px) {
		margin: pxtovw(70, 'pc') 0;
		padding-left: pxtovw(180, 'pc');
	}

	@media screen and (max-width: #{$breakpoint-sp}px) {
		margin: pxtovw(30, 'sp') 0;
		padding-left: 0;
		display: block;
	}

	&__inner {
		display: flex;
		align-items: center;

		@media screen and (max-width: #{$breakpoint-sp}px) {
			justify-content: center;
		}

		&:nth-of-type(2) {
			margin-left: 25px;

			@media screen and (max-width: #{$breakpoint-pc}px) {
				margin-left: pxtovw(25, 'pc');
			}

			@media screen and (max-width: #{$breakpoint-sp}px) {
				margin-left: 0;
				margin-top: pxtovw(10, 'sp');
			}
		}
	}

	&__txt {
		font-size: pxtorem(17, 'pc');
		letter-spacing: 0.05em;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			font-size: pxtovw(17, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			font-size: pxtorem(12, 'sp');
		}
	}

	&__txt-l {
		position: relative;
		font-size: pxtorem(33, 'pc');
		color: $white1;
		padding: 5px 35px;
		border-radius: 3px;
		margin-left: 35px;
		letter-spacing: 0.05em;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			font-size: pxtovw(33, 'pc');
			padding: pxtovw(5, 'pc') pxtovw(35, 'pc');
			border-radius: pxtovw(3, 'pc');
			margin-left: pxtovw(35, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			font-size: pxtorem(16, 'sp');
			padding: pxtovw(5, 'sp') pxtovw(35, 'sp');
			border-radius: pxtovw(3, 'sp');
			margin-left: pxtovw(35, 'sp');
		}

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -22px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7.5px 0 7.5px 10px;

			@media screen and (max-width: #{$breakpoint-pc}px) {
				left: pxtovw(-22, 'pc');
				border-width: pxtovw(7.5, 'pc') 0 pxtovw(7.5, 'pc') pxtovw(10, 'pc');
			}

			@media screen and (max-width: #{$breakpoint-sp}px) {
				left: pxtovw(-22, 'sp');
				border-width: pxtovw(7.5, 'sp') 0 pxtovw(7.5, 'sp') pxtovw(10, 'sp');
			}
		}

		&--red {
			background-color: $theme1;

			&:before {
				border-color: transparent transparent transparent $theme1;
			}
		}

		&--blue {
			background-color: $theme2;

			&:before {
				border-color: transparent transparent transparent $theme2;
			}
		}
	}
}

/* ---------------------------------------------
*   contents-box
--------------------------------------------- */
.contents-box {
	background-color: $white1;
	padding: 40px;
	display: flex;
	margin-bottom: 80px;

	@media screen and (max-width: #{$breakpoint-pc}px) {
		padding: pxtovw(40, 'pc');
		margin-bottom: pxtovw(80, 'pc');
	}

	@media screen and (max-width: #{$breakpoint-sp}px) {
		display: block;
		padding: pxtovw(10, 'sp');
		margin-bottom: pxtovw(40, 'sp');
	}

	&__img {
		flex-shrink: 0;

		@media screen and (max-width: #{$breakpoint-sp}px) {
			margin-bottom: pxtovw(15, 'sp');

			img {
				width: 100%;
			}
		}
	}

	&__txt-area {
		margin-left: 40px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			margin-left: pxtovw(40, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			margin-left: 0;
		}
	}

	.c-txt-l {
		margin-bottom: 10px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			margin-bottom: pxtovw(10, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			margin-bottom: pxtovw(10, 'sp');
		}
	}
}

/* ---------------------------------------------
*   contents-environment
--------------------------------------------- */
.contents-environment {
	max-width: 1640px;
	padding: 0 20px;
	margin: 0 auto 55px;

	@media screen and (max-width: #{$breakpoint-pc}px) {
		padding: 0 pxtovw(20, 'pc');
		margin-bottom: pxtovw(55, 'pc');
	}

	@media screen and (max-width: #{$breakpoint-sp}px) {
		padding: 0;
		margin-bottom: pxtovw(20, 'sp');
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		width: percentage(1410/1640);
		margin-right: 0;
		margin-left: auto;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			width: 100%;
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			display: block;
		}
	}

	&__txt-area {
		width: percentage(418/1410);

		@media screen and (max-width: #{$breakpoint-sp}px) {
			width: 100%;
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding: 0 pxtovw(10, 'sp');
		}
	}

	&__ttl {
		margin-bottom: 135px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			margin-bottom: pxtovw(135, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			width: pxtovw(492 * 0.5, 'sp');
			margin: 0 auto pxtovw(30, 'sp');
			text-align: center;
		}
	}

	&__img {
		width: percentage(952/1410);

		@media screen and (max-width: #{$breakpoint-sp}px) {
			width: pxtovw(397, 'sp');
			margin-top: pxtovw(45, 'sp');
			margin-left: pxtovw(-5, 'sp');

			img {
				width: 100%;
			}
		}
	}
}

/* ---------------------------------------------
*   contents-topics
--------------------------------------------- */
.contents-topics {
	display: flex;
	justify-content: space-between;
	margin-bottom: 120px;

	@media screen and (max-width: #{$breakpoint-pc}px) {
		margin-bottom: pxtovw(120, 'pc');
	}

	@media screen and (max-width: #{$breakpoint-sp}px) {
		margin-bottom: pxtovw(120, 'sp');
		flex-direction: column-reverse;
	}

	&__menu {
		width: percentage(260/1200);

		@media screen and (max-width: #{$breakpoint-sp}px) {
			width: 100%;
			margin-bottom: pxtovw(60, 'sp');
		}
	}

	&__menu-txt {
		font-size: pxtorem(16, 'pc');
		color: $white1;
		background-color: $theme1;
		padding: 18px 0;
		text-align: center;
		font-weight: bold;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			font-size: pxtovw(16, 'pc');
			font-size: clamp(12px, 1.25vw, 16px);
			padding: pxtovw(18, 'pc') 0;
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			font-size: pxtorem(11, 'sp');
			padding: pxtovw(12, 'sp') 0;
		}
	}

	&__menu-list {
		@media screen and (max-width: #{$breakpoint-sp}px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	&__menu-list-item {
		font-size: pxtorem(16, 'pc');
		border-bottom: 1px dashed $black2;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			font-size: pxtovw(16, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			font-size: pxtorem(11, 'sp');
			width: 48%;
		}
	}

	&__menu-list-link {
		display: block;
		position: relative;
		font-size: pxtorem(16, 'pc');
		padding: 15px 0;
		padding-left: 30px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			font-size: pxtovw(16, 'pc');
			font-size: clamp(12px, 1.25vw, 16px);
			padding: pxtovw(15, 'pc') 0;
			padding-left: pxtovw(30, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			font-size: pxtorem(11, 'sp');
			padding: pxtovw(15, 'sp') 0;
			padding-left: pxtovw(30, 'sp');
		}

		&:before {
			position: absolute;
		    top: 50%;
		    left: 10px;
		    transform: translateY(-50%);
		    width: 8px;
		    height: 9px;
		    background: url(../img/common/icon_arrow-red.svg) 0 0 no-repeat;
		    background-size: 100% auto;
		    content: "";

		    @media screen and (max-width: #{$breakpoint-pc}px) {
		    	left: pxtovw(10, 'pc');
		    	width: pxtovw(8, 'pc');
		    	height: pxtovw(9, 'pc');
		    }

		    @media screen and (max-width: #{$breakpoint-sp}px) {
		    	left: pxtovw(10, 'sp');
		    	width: pxtovw(8, 'sp');
		    	height: pxtovw(9, 'sp');
		    }
		}
	}

	&__inner {
		width: percentage(880/1200);

		@media screen and (max-width: #{$breakpoint-sp}px) {
			width: 100%;
		}
	}

	&__head {
		border-bottom: 2px dotted $theme1;
		display: flex;
		align-items: center;
		padding-bottom: 20px;
		margin-bottom: 80px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-bottom: pxtovw(20, 'pc');
			margin-bottom: pxtovw(80, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-bottom: pxtovw(10, 'sp');
			margin-bottom: pxtovw(40, 'sp');
		}
	}

	&__label {
		width: 171px;
		height: 24px;
		font-size: pxtorem(12, 'pc');
		border: 1px solid;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $white1;

		@media screen and (max-width: #{$breakpoint-sp}px) {
			width: pxtovw(171, 'sp');
			height: pxtovw(24, 'sp');
			font-size: pxtorem(9, 'sp');
		}

		&--blue {
			color: $theme2;
			border-color: $theme2;
		}

		&--green {
			color: $green1;
			border-color: $green1;
		}

		&--black {
			color: $black3;
			border-color: $black3;
		}

		&--red {
			color: $theme1;
			border-color: $theme1;
		}
	}

	&__date {
		font-size: pxtorem(21, 'pc');
		font-family: $ff-mplus;
		color: $theme2;
		margin-left: 15px;

		@media screen and (max-width: #{$breakpoint-sp}px) {
			font-size: pxtorem(14, 'sp');
			margin-left: pxtovw(15, 'sp');
		}
	}
}

/* ---------------------------------------------
*   slider
--------------------------------------------- */
@keyframes scroll{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-290px * 7));
  }
}

@keyframes scrollsp{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-38.66667vw * 7));
  }
}

.slider-wrap {
	animation: scroll 50s linear infinite;
	display: flex;
	width: calc(290px * 14);
	height:100%;

	@media screen and (max-width: #{$breakpoint-pc}px) {
		width: calc(22.65625vw * 14);
	}

	@media screen and (max-width: #{$breakpoint-sp}px) {
		width: calc(38.66667vw * 14);
		animation: scrollsp 50s linear infinite;
	}
}

.slide {
	margin: 0 7px;

	@media screen and (max-width: #{$breakpoint-sp}px) {
		margin: 0 pxtovw(4, 'sp');
	}
}

