/* ---------------------------------------------
*   kv
--------------------------------------------- */
.kv {
	position: relative;

    &:after {
        content: "";
        position: absolute;
        left: calc(-182vw/1920  * 100);
        bottom: calc(-314vw/1920  * 100);
        width: calc(951vw/1920  * 100);
        height: calc(440vw/1920  * 100);
        background: url("../img/common/img_deco-red_03.png") 0 0 no-repeat;
        background-size: 100% auto;

        @media screen and (max-width: #{$breakpoint-sp}px) {
            content: none;
        }
    }

	&__txt-area {
		position: absolute;
        top: percentage(70/978);
        left: calc(113vw/1920  * 100);

        @media screen and (max-width: #{$breakpoint-sp}px) {
            top: pxtovw(25, 'sp');
            left: pxtovw(20, 'sp');
        }
	}

    &__txt {
        width: calc(323vw/1920  * 100);
        margin-bottom: calc(100vw/1920  * 100);

        @media screen and (max-width: #{$breakpoint-sp}px) {
            width: pxtovw(148, 'sp');
            margin-bottom: pxtovw(30, 'sp');
        }
    }

    &__txt-color {
        font-family: $ff-dosis;
        font-weight: bold;
        font-size: calc(54vw/1920  * 100);
        color: $theme1;
        letter-spacing: 0.1em;
        line-height: 1.2;

        @media screen and (max-width: #{$breakpoint-sp}px) {
            font-size: pxtorem(26, 'sp');
        }
    }

    &__txt-color-s {
        display: block;
        font-size: calc(37vw/1920  * 100);
        margin-bottom: 0.2em;

        @media screen and (max-width: #{$breakpoint-sp}px) {
            font-size: pxtorem(18, 'sp');
        }
    }

    &__img {
    	width: percentage(1566/1920);
    	margin-left: auto;
    	margin-right: 0;

        @media screen and (max-width: #{$breakpoint-sp}px) {
            width: 100%;
        }

        img {
            width: 100%;
        }
    }
}