/* ---------------------------------------------
*   c-link
--------------------------------------------- */
.c-link {
    @media screen and (min-width: #{$breakpoint-sp + 1}px) {
        @include hover-opacity();
    }
}

/* ---------------------------------------------
*   anchor-target
--------------------------------------------- */
.anchor-target {
	border: none;
	padding: 0;
	margin-top: -100px;
	padding-top: 100px;

	@media screen and (max-width: #{$breakpoint-pc}px) {
		margin-top: pxtovw(-100, 'pc');
		padding-top: pxtovw(100, 'pc');
	}

	@media screen and (max-width: #{$breakpoint-sp}px) {
		margin-top: pxtovw(-60, 'sp');
		padding-top: pxtovw(60, 'sp');
	}
}
