/* ---------------------------------------------
*   c-section
--------------------------------------------- */
.c-section {
	position: relative;

	&--oc {
		padding-bottom: 110px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-bottom: pxtovw(50, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-bottom: pxtovw(35, 'sp');
		}

		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: -1;
			width: 100vw;
			height: calc(1078vw/1920 * 100);
			background: url("../img/common/img_bg-oc.png") 0 0 no-repeat;
			background-size: 100% auto;

			@media screen and (max-width: #{$breakpoint-sp}px) {
				height: pxtovw(850, 'sp');
				background-image: url("../img/common/sp/img_bg-oc.png");
			}
		}
	}

	&--gray-border {
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 200%;
			height: 100%;
			background: repeating-linear-gradient(to right, rgba($gray2,0.1), rgba($gray2,0.1) 48px, rgba($gray3,1) 48px, rgba($gray3,1) 96px);
			background-position: -36px 0;

			@media screen and (max-width: #{$breakpoint-pc}px) {
				background: repeating-linear-gradient(to right, rgba($gray2,0.1), rgba($gray2,0.1) pxtovw(48, 'pc'), rgba($gray3,1) pxtovw(48, 'pc'), rgba($gray3,1) pxtovw(96, 'pc'));
				background-position: pxtovw(-36, 'pc') 0;
			}

			@media screen and (max-width: #{$breakpoint-sp}px) {
				background: repeating-linear-gradient(to right, rgba($gray2,0.1), rgba($gray2,0.1) pxtovw(18, 'sp'), rgba($gray3,1) pxtovw(18, 'sp'), rgba($gray3,1) pxtovw(36, 'sp'));
				background-position: pxtovw(6, 'sp') 0;
			}
		}
	}

	&--yellow-border {
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 200%;
			height: 100%;
			background: repeating-linear-gradient(to right, rgba($yellow1,0.8), rgba($yellow1,0.8) 48px, rgba($yellow1,1) 48px, rgba($yellow1,1) 96px);
			background-position: -36px 0;

			@media screen and (max-width: #{$breakpoint-pc}px) {
				background: repeating-linear-gradient(to right, rgba($yellow1,0.8), rgba($yellow1,0.8) pxtovw(48, 'pc'), rgba($yellow1,1) pxtovw(48, 'pc'), rgba($yellow1,1) pxtovw(96, 'pc'));
				background-position: pxtovw(-36, 'pc') 0;
			}

			@media screen and (max-width: #{$breakpoint-sp}px) {
				background: repeating-linear-gradient(to right, rgba($yellow1,0.8), rgba($yellow1,0.8) pxtovw(18, 'sp'), rgba($yellow1,1) pxtovw(18, 'sp'), rgba($yellow1,1) pxtovw(36, 'sp'));
				background-position: pxtovw(6, 'sp') 0;
			}
		}
	}

	&--aqua-border {
		padding-top: 0;
		padding-bottom: 120px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-bottom: pxtovw(120, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-bottom: 0;
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background: repeating-linear-gradient(-45deg, rgba($theme2,0.1), rgba($theme2,0.1) 25px, white 25px, white 50px);

			@media screen and (max-width: #{$breakpoint-pc}px) {
				background: repeating-linear-gradient(-45deg, rgba($theme2,0.1), rgba($theme2,0.1) pxtovw(25, 'pc'), white pxtovw(25, 'pc'), white pxtovw(50, 'pc'));
			}
		}
	}

	&--pink-border {
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			width: 200%;
			height: 100%;
			background: repeating-linear-gradient(to right, rgba($white1,0.2), rgba($white1,0.2) 48px, rgba($white1,0) 48px, rgba($white1,0) 96px);
			background-position: -36px 0;

			@media screen and (max-width: #{$breakpoint-pc}px) {
				background: repeating-linear-gradient(to right, rgba($white1,0.2), rgba($white1,0.2) pxtovw(48, 'pc'), rgba($white1,0) pxtovw(48, 'pc'), rgba($white1,0) pxtovw(96, 'pc'));
				background-position: pxtovw(-36, 'pc') 0;
			}

			@media screen and (max-width: #{$breakpoint-sp}px) {
				background: repeating-linear-gradient(to right, rgba($white1,0.2), rgba($white1,0.2) pxtovw(18, 'sp'), rgba($white1,0) pxtovw(18, 'sp'), rgba($white1,0) pxtovw(36, 'sp'));
				background-position: pxtovw(6, 'sp') 0;
			}
		}

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-color: $theme1;
			opacity: 0.3;
		}
	}

	&--aqua-1 {
		&:after {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			z-index: -1;
			width: calc(511vw/1920 * 100);
			height: calc(406vw/1920 * 100);
			background: url("../img/common/img_deco-aqua.png") 0 0 no-repeat;
			background-size: 100% auto;
			transform: rotate(180deg);

			@media screen and (max-width: #{$breakpoint-sp}px) {
				width: pxtovw(160, 'sp');
				height: pxtovw(127, 'sp');
				right: pxtovw(-25, 'sp');
			}
		}
	}

	&--aqua-2 {
		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: -1;
			width: calc(511vw/1920 * 100);
			height: calc(406vw/1920 * 100);
			background: url("../img/common/img_deco-aqua.png") 0 0 no-repeat;
			background-size: 100% auto;

			@media screen and (max-width: #{$breakpoint-sp}px) {
				width: pxtovw(160, 'sp');
				height: pxtovw(127, 'sp');
				left: pxtovw(-20, 'sp');
			}
		}
	}

	&--red {
		&:before {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			z-index: -1;
			width: calc(946vw/1920 * 100);
			height: calc(171vw/1920 * 100);
			background: url("../img/common/img_deco-red.png") 0 0 no-repeat;
			background-size: 100% auto;

			@media screen and (max-width: #{$breakpoint-sp}px) {
				width: pxtovw(328, 'sp');
				height: pxtovw(59, 'sp');
				right: pxtovw(-98, 'sp');
			}
		}
	}

	&--red-1 {
		&:before {
			content: "";
			position: absolute;
			right: 0;
			top: -1px;
			z-index: -1;
			width: 100vw;
			height: calc(229vw/1920 * 100);
			background: url("../img/common/img_deco-red_01.png") 0 0 no-repeat;
			background-size: 100% auto;

			@media screen and (max-width: #{$breakpoint-sp}px) {
				width: pxtovw(649, 'sp');
				height: pxtovw(77, 'sp');
				right: pxtovw(-20, 'sp');
			}
		}
	}

	&--red-2 {
		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -1px;
			z-index: -1;
			width: calc(815vw/1920 * 100);
			height: calc(350vw/1920 * 100);
			background: url("../img/common/img_deco-red_02.png") 0 100% no-repeat;
			background-size: 100% auto;

			@media screen and (max-width: #{$breakpoint-sp}px) {
				width: pxtovw(300, 'sp');
				height: pxtovw(128, 'sp');
				left: pxtovw(-25, 'sp');
			}
		}
	}

	&--wave {
		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: -1;
			width: 100vw;
			height: 1650px;
			background: url("../img/common/img_bg-wave.png") top center no-repeat;
			background-size: cover;

			@media screen and (max-width: #{$breakpoint-pc}px) {
				height: pxtovw(1650, 'pc');
			}

			@media screen and (max-width: 1000px) {
				height: pxtovw(1850, 'pc');
			}

			@media screen and (max-width: #{$breakpoint-sp}px) {
				height: pxtovw(1668, 'sp');
				background-size: cover;
			}
		}
	}

	&--wave-2 {
		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: -1;
			width: 100vw;
			height: 1832px;
			background: url("../img/common/img_bg-wave_2.png") 0 100% no-repeat;
			background-size: cover;

			@media screen and (max-width: #{$breakpoint-pc}px) {
				height: pxtovw(1832, 'pc');
			}

			@media screen and (max-width: #{$breakpoint-sp}px) {
				height: pxtovw(2350, 'sp');
				background-size: cover;
			}
		}
	}

	&--pink-1 {
		&:after {
			content: "";
			position: absolute;
			right: calc(-187vw/1920 * 100);
			bottom: calc(1010vw/1920 * 100);
			z-index: -1;
			width: calc(497vw/1920 * 100);
			height: calc(748vw/1920 * 100);
			background: url("../img/common/img_deco-pink_03.png") 0 100% no-repeat;
			background-size: 100% auto;

			@media screen and (max-width: #{$breakpoint-sp}px) {
				width: pxtovw(497, 'sp');
            	height: pxtovw(748, 'sp');
            	right: pxtovw(-312, 'sp');
			}
		}
	}

	&--pink-2 {
		&:after {
			content: "";
			position: absolute;
			left: calc(-187vw/1920 * 100);
			top: calc(240vw/1920 * 100);
			z-index: -1;
			width: calc(497vw/1920 * 100);
			height: calc(748vw/1920 * 100);
			background: url("../img/common/img_deco-pink_04.png") 0 100% no-repeat;
			background-size: 100% auto;

			@media screen and (max-width: #{$breakpoint-sp}px) {
				display: none;
			}
		}
	}

	&--yellow-wave {
		padding-top: 80px;
		padding-bottom: 130px;
		z-index: 1;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(80, 'pc');
			padding-bottom: pxtovw(130, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(40, 'sp');
			padding-bottom: pxtovw(60, 'sp');
		}

		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: -1;
			width: 100vw;
			height: 1064px;
			background: url("../img/common/img_bg-yellow-wave.png") 0 0 no-repeat;
			background-size: cover;

			@media screen and (max-width: #{$breakpoint-pc}px) {
				height: pxtovw(1064, 'pc');
			}

			@media screen and (max-width: #{$breakpoint-sp}px) {
				height: pxtovw(500, 'sp');
				background-size: cover;
			}
		}
	}

	&--top-voice {
		padding-top: 150px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(150, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(80, 'sp');
		}
	}

	&--environment {
		padding-top: 120px;
		padding-bottom: 80px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(120, 'pc');
			padding-bottom: pxtovw(80, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(80, 'sp');
			padding-bottom: pxtovw(50, 'sp');
		}

		&:after {
			height: 903px;

			@media screen and (max-width: #{$breakpoint-pc}px) {
				height: pxtovw(903, 'pc');
			}

			@media screen and (max-width: #{$breakpoint-sp}px) {
				height: pxtovw(400, 'sp');
			}
		}
	}

	&--movie {
		padding-top: 210px;
		padding-bottom: 345px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(210, 'pc');
			padding-bottom: pxtovw(345, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(75, 'sp');
			padding-bottom: pxtovw(155, 'sp');
		}
	}

	&--list {
		padding-top: 5px;
		padding-bottom: 135px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(5, 'pc');
			padding-bottom: pxtovw(135, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-bottom: pxtovw(5, 'sp');
		}
	}

	&--top-topics {
		padding-top: 100px;
		padding-bottom: 170px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(100, 'pc');
			padding-bottom: pxtovw(170, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(60, 'sp');
			padding-bottom: pxtovw(130, 'sp');
		}
	}

	&--access {
		padding-top: 75px;
		padding-bottom: 155px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(75, 'pc');
			padding-bottom: pxtovw(155, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(40, 'sp');
			padding-bottom: pxtovw(60, 'sp');
		}
	}

	&--school-1 {
		padding-top: 125px;
		padding-bottom: 135px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(125, 'pc');
			padding-bottom: pxtovw(135, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(125 * 0.52, 'sp');
			padding-bottom: pxtovw(135 * 0.52, 'sp');
		}
	}

	&--school-2 {
		padding-top: 130px;
		padding-bottom: 110px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(130, 'pc');
			padding-bottom: pxtovw(110, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(130 * 0.52, 'sp');
			padding-bottom: pxtovw(110 * 0.52, 'sp');
		}

		&:after {
			bottom: calc(370vw/1920 * 100);

			@media screen and (max-width: #{$breakpoint-sp}px) {
				content: none;
			}
		}
	}

	&--school-3 {
		padding-top: 130px;
		padding-bottom: 140px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(130, 'pc');
			padding-bottom: pxtovw(140, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(130 * 0.52, 'sp');
			padding-bottom: pxtovw(140 * 0.52, 'sp');
		}
	}

	&--school-4 {
		padding-top: 145px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(145, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(145 * 0.52, 'sp');
			padding-bottom: pxtovw(50, 'sp');
		}
	}

	&--school-5 {
		padding-top: 180px;
		padding-bottom: 160px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(180, 'pc');
			padding-bottom: pxtovw(160, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(180 * 0.52, 'sp');
			padding-bottom: pxtovw(60, 'sp');
		}
	}

	&--school-6 {
		padding-top: 175px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(175, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(175 * 0.52, 'sp');
		}
	}

	&--school-7 {
		margin-top: -270px;
		padding-top: 160px;
		padding-bottom: 120px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			margin-top: pxtovw(-270, 'pc');
			padding-top: pxtovw(160, 'pc');
			padding-bottom: pxtovw(120, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			margin-top: 0;
			padding-top: pxtovw(160 * 0.52, 'sp');
			padding-bottom: pxtovw(120 * 0.52, 'sp');
		}
	}

	&--career-1 {
		padding-top: 100px;
		padding-bottom: 140px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(100, 'pc');
			padding-bottom: pxtovw(140, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(100 * 0.52, 'sp');
			padding-bottom: pxtovw(140 * 0.52, 'sp');
		}
	}

	&--career-2 {
		padding-top: 120px;
		padding-bottom: 60px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(120, 'pc');
			padding-bottom: pxtovw(60, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(120 * 0.52, 'sp');
			padding-bottom: pxtovw(60 * 0.52, 'sp');
		}
	}

	&--career-3 {
		padding-top: 110px;
		padding-bottom: 60px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(110, 'pc');
			padding-bottom: pxtovw(60, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(110 * 0.52, 'sp');
			padding-bottom: pxtovw(60 * 0.52, 'sp');
		}
	}

	&--career-4 {
		padding-top: 120px;
		padding-bottom: 40px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(120, 'pc');
			padding-bottom: pxtovw(40, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(70, 'sp');
			padding-bottom: pxtovw(40 * 0.52, 'sp');
		}
	}

	&--career-5 {
		padding-top: 170px;
		padding-bottom: 40px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(170, 'pc');
			padding-bottom: pxtovw(40, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(170 * 0.52, 'sp');
			padding-bottom: pxtovw(40 * 0.52, 'sp');
		}

		&:after {
			top: calc(520vw/1920 * 100);
		}
	}

	&--career-6 {
		&:after {
			height: calc(1236vw/1920 * 100);

			@media screen and (max-width: #{$breakpoint-sp}px) {
				height: pxtovw(1236, 'sp');
			}
		}
	}

	&--open-2 {
		padding-top: 170px;
		padding-bottom: 40px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(170, 'pc');
			padding-bottom: pxtovw(40, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(170 * 0.52, 'sp');
			padding-bottom: pxtovw(40 * 0.52, 'sp');
		}

		&:after {
			top: calc(770vw/1920 * 100);
		}
	}

	&--open-3 {
		padding-top: 120px;
		padding-bottom: 100px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(120, 'pc');
			padding-bottom: pxtovw(100, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(120 * 0.52, 'sp');
			padding-bottom: pxtovw(100 * 0.52, 'sp');
		}
	}

	&--open-4 {
		padding-top: 100px;
		padding-bottom: 100px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(100, 'pc');
			padding-bottom: pxtovw(100, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(100 * 0.52, 'sp');
			padding-bottom: pxtovw(100 * 0.52, 'sp');
		}
	}

	&--open-5 {
		padding-top: 120px;
		padding-bottom: 90px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(120, 'pc');
			padding-bottom: pxtovw(90, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(120 * 0.52, 'sp');
			padding-bottom: pxtovw(90 * 0.52, 'sp');
		}
	}

	&--admission-1 {
		padding-top: 160px;
		padding-bottom: 150px;
		z-index: 1;
		background-color: $white1;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(160, 'pc');
			padding-bottom: pxtovw(150, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(160 * 0.52, 'sp');
			padding-bottom: pxtovw(150 * 0.52, 'sp');
		}
	}

	&--admission-2 {
		padding-top: 110px;
		padding-bottom: 180px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(110, 'pc');
			padding-bottom: pxtovw(180, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(110 * 0.52, 'sp');
			padding-bottom: pxtovw(180 * 0.52, 'sp');
		}

		&:after {
			bottom: calc(310vw/1920 * 100);
		}
	}

	&--admission-3 {
		padding-top: 120px;
		padding-bottom: 120px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(120, 'pc');
			padding-bottom: pxtovw(120, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(120 * 0.52, 'sp');
			padding-bottom: pxtovw(120 * 0.52, 'sp');
		}
	}

	&--admission-4 {
		padding-top: 110px;
		padding-bottom: 120px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(110, 'pc');
			padding-bottom: pxtovw(120, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(110 * 0.52, 'sp');
			padding-bottom: pxtovw(120 * 0.52, 'sp');
		}
	}

	&--admission-5 {
		padding-top: 50px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(50, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(50 * 0.52, 'sp');
		}
	}

	&--teature-1 {
		padding-top: 160px;
		padding-bottom: 100px;
		background-color: $white1;
		z-index: 1;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(160, 'pc');
			padding-bottom: pxtovw(100, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(80, 'sp');
			padding-bottom: pxtovw(100 * 0.52, 'sp');
		}
	}

	&--teature-2 {
		padding-top: 160px;
		padding-bottom: 130px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(160, 'pc');
			padding-bottom: pxtovw(130, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(160 * 0.52, 'sp');
			padding-bottom: pxtovw(130 * 0.52, 'sp');
		}
	}

	&--teature-3 {
		padding-top: calc(180vw/1920 * 100);

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(140, 'sp');
		}
	}

	&--workers {
		position: relative;
		z-index: 1;
		background-color: $white1;
		padding-top: 160px;
		padding-bottom: 80px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(100, 'pc');
			padding-bottom: pxtovw(80, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(80, 'sp');
			padding-bottom: pxtovw(40, 'sp');
		}
	}

	&--topics {
		padding-top: 100px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			padding-top: pxtovw(100, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			padding-top: pxtovw(50, 'sp');
		}
	}
}

/* section-box
--------------------------------------------- */
.section-box-wrap {
	display: flex;
	flex-wrap: wrap;
}

.section-box {
	$host: &;
	background-color: $white1;
	padding: 40px 35px;
	margin-bottom: 30px;

	@media screen and (max-width: #{$breakpoint-pc}px) {
		padding: pxtovw(40, 'pc') pxtovw(35, 'pc');
		margin-bottom: pxtovw(30, 'pc');
	}

	@media screen and (max-width: #{$breakpoint-sp}px) {
		padding: pxtovw(30, 'sp') pxtovw(10, 'sp');
		margin-bottom: pxtovw(30, 'sp');
	}

	&--s {
		width: 200px;
		margin-right: 30px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			width: pxtovw(200, 'pc');
			margin-right: pxtovw(30, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			width: pxtovw(170, 'sp');
			margin-right: pxtovw(15, 'sp');
		}
	}

	&--m {
		width: 540px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			width: pxtovw(540, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			width: pxtovw(540, 'sp');
		}
	}

	&--right {
		@media screen and (max-width: #{$breakpoint-sp}px) {
			margin-right: 0;
		}
	}

	&--yellow {
		background-color: $yellow2;
	}

	&__inner {
		display: flex;
		width: 100%;
		margin-top: 35px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			margin-top: pxtovw(35, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			margin-top: pxtovw(20, 'sp');
			flex-wrap: wrap;
		}
	}

	&__list {
		width: 20%;

		@media screen and (max-width: #{$breakpoint-sp}px) {
			width: calc(100% / 3);
		}

		@at-root #{$host}--s & {
			width: 100%;
		}

		@at-root #{$host}--m & {
			width: 50%;
		}
	}

	&__list-item {
		font-size: pxtorem(14, 'pc');
		margin-bottom: 10px;

		@media screen and (max-width: #{$breakpoint-pc}px) {
			font-size: pxtovw(14, 'pc');
			margin-bottom: pxtovw(10, 'pc');
		}

		@media screen and (max-width: #{$breakpoint-sp}px) {
			font-size: pxtorem(10, 'sp');
			margin-bottom: pxtovw(10, 'sp');
		}
	}
}