/* ---------------------------------------------
*   c-table-1
--------------------------------------------- */
.c-table-1-wrap {
    @media screen and (max-width: #{$breakpoint-sp}px) {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}

.c-table-1 {
    $host: &;
    border-bottom: 1px solid $theme1;
    border-left: 1px solid $theme1;
    width: 100%;

    &__ttl {
        font-size: pxtorem(18, 'pc');
        color: $theme1;
        background-color: $orange1;
        border-top: 1px solid $theme1;
        border-right: 1px solid $theme1;
        text-align: center;
        height: 130px;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            font-size: pxtovw(18, 'pc');
            height: pxtovw(130, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            font-size: pxtovw(13, 'sp');
            height: pxtovw(65, 'sp');
            white-space: nowrap;
            padding: 0 pxtovw(20, 'sp');
        }
    }

    &__txt {
        font-size: pxtorem(16, 'pc');
        color: $black2;
        background-color: $white1;
        border-top: 1px solid $theme1;
        border-right: 1px solid $theme1;
        text-align: center;
        height: 130px;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            font-size: pxtovw(16, 'pc');
            height: pxtovw(130, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            font-size: pxtorem(11, 'sp');
            height: pxtovw(90, 'sp');
            white-space: nowrap;
            padding: 0 pxtovw(20, 'sp');
        }


        &--dash {
            border-top: 1px dashed $theme1;
        }

        &--narrow-1 {
            height: 105px;

            @media screen and (max-width: #{$breakpoint-pc}px) {
                height: pxtovw(105, 'pc');
            }

            @media screen and (max-width: #{$breakpoint-sp}px) {
                height: pxtovw(70, 'sp');
            }
        }

        &--narrow-2 {
            height: 60px;

            @media screen and (max-width: #{$breakpoint-pc}px) {
                height: pxtovw(60, 'pc');
            }

            @media screen and (max-width: #{$breakpoint-sp}px) {
                height: pxtovw(40, 'sp');
            }
        }

        @at-root #{$host}--7 & {
            width: calc(100% / 7);
        }

        @at-root #{$host}--6 & {
            width: calc(100% / 6);
        }
    }
}

.c-table-1-note {
    font-size: pxtorem(16, 'pc');
    color: $theme1;
    margin-top: 20px;
    margin-left: 15px;

    @media screen and (max-width: #{$breakpoint-pc}px) {
        font-size: pxtovw(16, 'pc');
        margin-top: pxtovw(20, 'pc');
        margin-left: pxtovw(15, 'pc');
    }

    @media screen and (max-width: #{$breakpoint-sp}px) {
        font-size: pxtorem(11, 'sp');
        margin-top: pxtovw(20, 'sp');
        margin-left: pxtovw(15, 'sp');
    }
}
