/* ---------------------------------------------
*   c-table-2
--------------------------------------------- */
.c-table-2 {
    border-bottom: 1px solid $black2;
    border-left: 1px solid $black2;
    width: 100%;
    margin-bottom: 60px;
    font-feature-settings: "palt";

    @media screen and (max-width: #{$breakpoint-pc}px) {
        margin-bottom: pxtovw(60, 'pc');
    }

    @media screen and (max-width: #{$breakpoint-sp}px) {
        margin-bottom: pxtovw(60, 'sp');
    }

    &__ttl {
        font-size: pxtorem(18, 'pc');
        color: $theme2;
        background-color: $blue1;
        border-top: 1px solid $black2;
        border-right: 1px solid $black2;
        text-align: center;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            font-size: pxtovw(18, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            font-size: pxtorem(11, 'sp');
        }

        &--rl {
             width: percentage(155/1200);

             @media screen and (max-width: #{$breakpoint-sp}px) {
                 width: 10%;
             }

             @at-root .firefox & {
                padding-left: 60px;

                @media screen and (max-width: #{$breakpoint-pc}px) {
                    padding-left: pxtovw(60, 'pc');
                }

                @media screen and (max-width: #{$breakpoint-sp}px) {
                    padding-left: pxtovw(10, 'sp');
                }
             }
        }
    }

    &__txt {
        font-size: pxtorem(16, 'pc');
        color: $black2;
        border-top: 1px solid $black2;
        border-right: 1px solid $black2;
        background-color: $white1;
        text-align: center;
        width: 25%;
        height: 90px;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            height: pxtovw(90, 'pc');
            font-size: pxtovw(16, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            height: pxtovw(90, 'sp');
            font-size: pxtorem(10, 'sp');
            width: pxtovw(105, 'sp');
        }

        &--l {
            height: 135px;

            @media screen and (max-width: #{$breakpoint-pc}px) {
                height: pxtovw(135, 'pc');
            }

            @media screen and (max-width: #{$breakpoint-sp}px) {
                height: pxtovw(135, 'sp');
            }
        }
    }

    &__txt-rl {
        writing-mode: vertical-rl;
        letter-spacing: 0.4em;
        margin: 0 auto;
        min-height: 20em;
    }
}