/* ---------------------------------------------
*   c-txt
--------------------------------------------- */
.c-txt {
    font-size: pxtorem(16, 'pc');
    line-height: 2;

    @media screen and (max-width: #{$breakpoint-pc}px) {
        font-size: pxtovw(16, 'pc');
        font-size: clamp(12px, 1.25vw, 16px);
    }

    @media screen and (max-width: #{$breakpoint-sp}px) {
        font-size: pxtorem(13, 'sp');
    }

    &__strong {
        text-decoration: underline;
        font-weight: bold;
    }

    &__italic {
        font-style: italic;
    }

    &__marker {
        background: linear-gradient(transparent 60%, $yellow1 40%);

        @media screen and (max-width: #{$breakpoint-sp}px) {
            background: linear-gradient(transparent 70%, $yellow1 30%);
        }
    }

    &--mgt {
        margin-top: 30px;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            margin-top: pxtovw(30, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            margin-top: pxtovw(20, 'sp');
        }
    }
}

/*  c-color
--------------------------------------------- */
.c-color-red {
    color: $theme1;
}

.c-color-blue {
    color: $theme2;
}

/*  c-txt-l
--------------------------------------------- */
.c-txt-l {
    font-size: pxtorem(21, 'pc');
    font-family: $ff-mplus;

    @media screen and (max-width: #{$breakpoint-pc}px) {
        font-size: pxtovw(21, 'pc');
    }

    @media screen and (max-width: #{$breakpoint-sp}px) {
        font-size: pxtorem(14, 'sp');
    }
}

/*  c-txt-color
--------------------------------------------- */
.c-txt-color {
    font-size: pxtorem(28, 'pc');
    color: $theme1;
    font-family: $ff-mplus;

    @media screen and (max-width: #{$breakpoint-pc}px) {
        font-size: pxtovw(28, 'pc');
    }

    @media screen and (max-width: #{$breakpoint-sp}px) {
        font-size: pxtovw(15, 'sp');
    }

    &--s {
        @media screen and (max-width: #{$breakpoint-sp}px) {
            font-size: pxtorem(14, 'sp');
        }
    }
}

/*  c-txt-lead
--------------------------------------------- */
.c-txt-lead {
    font-size: pxtorem(21, 'pc');
    line-height: 2.3;
    color: $black2;
    font-family: $ff-mplus;
    text-align: center;

    @media screen and (max-width: #{$breakpoint-pc}px) {
        font-size: pxtovw(21, 'pc');
    }

    @media screen and (max-width: #{$breakpoint-sp}px) {
        font-size: pxtorem(14, 'sp');
    }

    &__red {
        color: $theme1;
    }

    &__blue {
        color: $theme2;
    }
}

/*  c-txt-list
--------------------------------------------- */
.c-txt-list {
    $host: &;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: #{$breakpoint-sp}px) {
        display: block;
    }

    &--left {
        margin-left: 1em;
    }

    &__item {
        font-size: pxtorem(14, 'pc');
        line-height: 2;
        width: 50%;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            font-size: pxtovw(14, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            font-size: pxtorem(10, 'sp');
            width: 100%;
        }

        @at-root #{$host}--1 & {
            width: 100%;
        }

        @at-root #{$host}--left & {
            width: 100%;
        }
    }
}
