// fonts
// Noto Serif JP : Regular 400, Medium 500
// Noto Sans JP : Regular 400, Medium 500, Bold 700
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Noto+Serif+JP:wght@400;500&display=swap');

$serif: 'Noto Serif JP', serif;
$sansSerif: 'Noto Sans JP', sans-serif;
$root-fz-pc: 16;
$root-fz-tb: 32;
$root-fz-sp: 13;