:root {
    --color: red;
}
body {
    --color: orange;
}
h2 {
    color: var(--color);
}

:root, [data-theme="default"] {
    --color-primary: blue;
    /* color contrasts */
    --color-bg: white;
    --color-contrast-lower: hsl(0, 0%, 95%);
    --color-contrast-low: hsl(240, 1%, 83%);
    --color-contrast-medium: hsl(240, 1%, 48%);
    --color-contrast-high: hsl(240, 4%, 20%);
    --color-contrast-higher: black;
  }
  
  [data-theme] {
    background-color: var(--color-bg);
    color: var(--color-contrast-high);
  }
  
  [data-theme="dark"] {
    --color-primary: red;
    /* color contrasts */
    --color-bg: black;
    --color-contrast-lower: hsl(240, 6%, 15%);
    --color-contrast-low: hsl(252, 4%, 25%);
    --color-contrast-medium: hsl(240, 1%, 57%);
    --color-contrast-high: hsl(0, 0%, 89%);
    --color-contrast-higher: white;
  }

  :root {
    // body font size
    --text-base-size: 1em;
    
    // type scale
    --text-scale-ratio: 1.2;
    --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
    --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
    --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  }



// https://codepen.io/wesbos/pen/adQjoY


$css4: true;
$compatibility: true;
//it is nessesary to define the variables in sass map instead of :root, for compatibility reasons.
$variables: (
  --color: white,
  --background: skyblue,
  --font: sans-serif
);

//Here we transfer the variables from the map to the :root element
@if($css4) {
  :root {
    @each $variable, $value in $variables {
      #{$variable}: $value;
    }
  }
}


@use "sass:map";

$font-weights: ("regular": 400, "medium": 500, "bold": 700);

@debug map.set($font-weights, "extra-bold", 900);
// ("regular": 400, "medium": 500, "bold": 700, "extra-bold": 900)
@debug map.set($font-weights, "bold", 900);
// ("regular": 400, "medium": 500, "bold": 900)