/* ---------------------------------------------
*   breadcrumb
--------------------------------------------- */
.breadcrumbs {
    margin-top: 10px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    color: $black2;
    font-size: pxtorem(14, 'pc');

    @media screen and (max-width: #{$breakpoint-pc}px) {
        margin-top: pxtovw(10, 'pc');
        margin-left: pxtovw(40, 'pc');
        font-size: pxtovw(14, 'pc');
    }

    @media screen and (max-width: #{$breakpoint-sp}px) {
        margin-top: pxtovw(15, 'sp');
        margin-left: pxtovw(10, 'sp');
        font-size: pxtorem(14, 'pc');
    }

    > span {
        margin: 0 10px;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            margin: 0 pxtovw(14, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            margin: 0 pxtovw(5, 'sp');
        }

        &:first-child {
            @media screen and (max-width: #{$breakpoint-sp}px) {
                margin-left: 0;
            }
        }
    }

    a {
        @media screen and (min-width: #{$breakpoint-sp + 1}px) {
            @include hover-opacity();
        }

        &.home {
            display: block;
            background: url("../img/common/icon_home.svg") 0 0.2em no-repeat;
            background-size: 18px 14px;
            padding-left: 25px;

            @media screen and (max-width: #{$breakpoint-pc}px) {
                background-size: pxtovw(18, 'pc') pxtovw(14, 'pc');
                padding-left: pxtovw(30, 'pc');
            }

            @media screen and (max-width: #{$breakpoint-sp}px) {
                background-size: pxtovw(18, 'sp') pxtovw(14, 'sp');
                background-position: 0 40%;
                padding-left: pxtovw(23, 'sp');
            }
        }
    }
}