/* ---------------------------------------------
*   container
--------------------------------------------- */
.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 40px;

	@media screen and (max-width: #{$breakpoint-pc}px) {
		padding: 0 pxtovw(40, 'pc');
	}

	@media screen and (max-width: #{$breakpoint-sp}px) {
		padding: 0 pxtovw(10, 'sp');
	}

	&--pr {
		position: relative;
		z-index: 1;
	}

	&--s {
		max-width: 1080px;
	}
}

