/* ---------------------------------------------
*   footer
--------------------------------------------- */
.footer {
    $host: &;
    position: relative;
    z-index: 10;
}

/*  footer-head
--------------------------------------------- */
.footer-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
    padding: 35px 20px;

    @media screen and (max-width: #{$breakpoint-pc}px) {
        padding: pxtovw(35, 'pc') pxtovw(20, 'pc');
    }

    @media screen and (max-width: #{$breakpoint-sp}px) {
        padding: pxtovw(20, 'sp') pxtovw(15, 'sp');
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 437px);

        @media screen and (max-width: #{$breakpoint-pc}px) {
            width: calc(100% - 34.14062vw);
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            display: block;
        }
    }

    &__address {
        font-size: pxtorem(16, 'pc');
        color: $black2;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            font-size: pxtovw(16, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            font-size: pxtorem(10, 'sp');
            margin-bottom: pxtovw(5, 'sp');
            text-align: right;
        }
    }

    &__contact {
        @media screen and (max-width: #{$breakpoint-pc}px) {
            width: pxtovw(267, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            width: pxtovw(133, 'sp');
            margin-right: 0;
            margin-left: auto;
        }

        a {
            display: block;

            @media screen and (min-width: #{$breakpoint-sp + 1}px) {
                @include hover-opacity();
            }
        }
    }
}

/*  footer-nav
--------------------------------------------- */
.footer-nav {
    $host: &;

    &__upper {
        background-color: $pink1;
        padding: 45px 0;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            padding: pxtovw(45, 'pc') 0;
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            padding: pxtovw(20, 'sp') 0;
        }
    }

    &__lower {
        padding: 35px 20px 45px;
        background-color: $gray3;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            padding: pxtovw(35, 'pc') pxtovw(20, 'pc') pxtovw(45, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            padding: pxtovw(40, 'sp') pxtovw(15, 'sp');
        }
    }
}

/*  menu-footer-sub-nav
--------------------------------------------- */
#menu-footer-sub-nav {
    display: flex;
    justify-content: center;

    @media screen and (max-width: #{$breakpoint-sp}px) {
        display: block;
    }

    .menu-item {
        margin-right: 60px;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            margin-right: pxtovw(60, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            margin-right: 0;
            margin-bottom: pxtovw(10, 'sp');
            text-align: center;
        }

        &:last-of-type {
            margin-right: 0;

            @media screen and (max-width: #{$breakpoint-sp}px) {
                margin-bottom: 0;
            }
        }

        a {
            font-size: pxtorem(18, 'pc');
            color: $white1;
            font-weight: bold;

            @media screen and (min-width: #{$breakpoint-sp + 1}px) {
                @include hover-opacity();
            }

            @media screen and (max-width: #{$breakpoint-pc}px) {
                font-size: pxtovw(18, 'pc');
            }

            @media screen and (max-width: #{$breakpoint-sp}px) {
                font-size: pxtorem(12, 'sp');
            }
        }

        &.menu-item-96 {
            position: relative;

            &:before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -40px;
                width: 26px;
                height: 31px;
                content: "";
                background: url("../img/common/icon_xlsx-w.svg") 0 0 no-repeat;
                background-size: 100% auto;

                @media screen and (max-width: #{$breakpoint-pc}px) {
                    right: pxtovw(-40, 'pc');
                    width: pxtovw(26, 'pc');
                    height: pxtovw(32, 'pc');
                }

                @media screen and (max-width: #{$breakpoint-sp}px) {
                    content: none;
                }
            }
        }

        &.menu-item-52 {
            > a {
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

/*  menu-footer-nav
--------------------------------------------- */
#menu-footer-nav {
    display: flex;
    justify-content: center;

    @media screen and (max-width: #{$breakpoint-sp}px) {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    > .menu-item {
        margin-right: 60px;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            margin-right: pxtovw(60, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            width: 50%;
            margin-right: 0;
            padding-left: 1em;
        }

        &:last-of-type {
            margin-right: 0;
        }

        > a {
            position: relative;
            font-size: pxtorem(16, 'pc');
            color: $theme1;

            @media screen and (min-width: #{$breakpoint-sp + 1}px) {
                @include hover-opacity();
            }

            @media screen and (max-width: #{$breakpoint-pc}px) {
                font-size: pxtovw(16, 'pc');
            }

            @media screen and (max-width: #{$breakpoint-sp}px) {
                font-size: pxtorem(13, 'sp');
            }

            &:before {
                content: "";
                position: absolute;
                top: 0.2em;
                left: -1em;
                width: 8px;
                height: 9px;
                background: url("../img/common/icon_arrow-red.svg") 0 0 no-repeat;
                background-size: 100% auto;

                @media screen and (max-width: #{$breakpoint-pc}px) {
                    width: pxtovw(8, 'pc');
                    height: pxtovw(9, 'pc');
                }

                @media screen and (max-width: #{$breakpoint-sp}px) {
                    width: pxtovw(7, 'sp');
                    height: pxtovw(8, 'sp');
                }
            }
        }

        .sub-menu {
            margin-top: 15px;

            @media screen and (max-width: #{$breakpoint-pc}px) {
                margin-top: pxtovw(15, 'pc');
            }

            @media screen and (max-width: #{$breakpoint-sp}px) {
                margin-top: pxtovw(10, 'sp');
                margin-bottom: pxtovw(25, 'sp');
            }

            .menu-item {
                margin-bottom: 10px;

                @media screen and (max-width: #{$breakpoint-pc}px) {
                    margin-bottom: pxtovw(10, 'pc');
                }

                @media screen and (max-width: #{$breakpoint-sp}px) {
                    font-size: pxtorem(12, 'sp');
                    margin-bottom: pxtovw(10, 'sp');
                }

                a {
                    font-size: pxtorem(14, 'pc');
                    color: $gray1;

                    @media screen and (min-width: #{$breakpoint-sp + 1}px) {
                        @include hover-opacity();
                    }

                    @media screen and (max-width: #{$breakpoint-pc}px) {
                        font-size: pxtovw(14, 'pc');
                    }

                    @media screen and (max-width: #{$breakpoint-sp}px) {
                        font-size: pxtorem(12, 'sp');
                    }
                }
            }
        }
    }
}

/*  footer-logo
--------------------------------------------- */
.footer-logo {
    $host: &;
    width: 397px;
    margin-right: 40px;

    @media screen and (max-width: #{$breakpoint-pc}px) {
        width: pxtovw(397, 'pc');
        margin-right: pxtovw(40, 'pc');
    }

    @media screen and (max-width: #{$breakpoint-sp}px) {
        width: pxtovw(144, 'sp');
        margin-right: 0;
    }

    img {
        width: 100%;
    }

    &__link {
        @media screen and (min-width: #{$breakpoint-sp + 1}px) {
            @include hover-opacity();
        }
    }
}

/*  footer-bottom
--------------------------------------------- */
.footer-bottom {
    $host: &;
    background-color: $theme1;
    padding: 25px 0;

    @media screen and (max-width: #{$breakpoint-pc}px) {
        padding: pxtovw(30, 'pc') 0;
    }

    @media screen and (max-width: #{$breakpoint-sp}px) {
        padding-top: pxtovw(20, 'sp');
        padding-bottom: pxtovw(80, 'sp');
    }

    &__inner {
        max-width: 1300px;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            padding: 0 pxtovw(20, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            flex-direction: column-reverse;
        }
    }

    &__list {
        display: flex;
        align-items: center;

        @media screen and (max-width: #{$breakpoint-sp}px) {
            justify-content: center;
            margin-bottom: pxtovw(15, 'sp');
        }
    }

    &__list-link {
        display: block;
        color: $white1;
        font-size: pxtorem(14, 'pc');
        padding: 0 25px;
        border-right: 1px solid $white1;
        line-height: 1.2;

        @media screen and (min-width: #{$breakpoint-sp + 1}px) {
            @include hover-opacity();
        }

        @media screen and (max-width: #{$breakpoint-pc}px) {
            font-size: pxtovw(14, 'pc');
            padding: 0 pxtovw(25, 'pc');
            border-right: none;
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            font-size: pxtorem(12, 'sp');
            padding: 0 pxtovw(15, 'pc');
        }

        @at-root #{$host}__list-item:first-of-type & {
            border-left: 1px solid $white1;

            @media screen and (max-width: #{$breakpoint-sp}px) {
                border-left: none;
                border-right: 1px solid $white1;
            }
        }
    }
}

/*  footer-copyright
--------------------------------------------- */
.footer-copyright {
    $host: &;

    &__txt {
        display: block;
        font-size: pxtorem(12, 'pc');
        font-weight: bold;
        color: $white1;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            font-size: pxtovw(12, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            font-size: pxtorem(9, 'sp');
            text-align: center;
        }
    }
}
