/* ---------------------------------------------
*   header
--------------------------------------------- */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2000;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background-color: $white1;

    @media screen and (max-width: #{$breakpoint-tb}px) {
        height: 60px;
    }
}

/*  header-container
--------------------------------------------- */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 35px;
    height: 100%;

    @media screen and (max-width: 1400px) {
        padding-left: 10px;
    }

    @media screen and (max-width: #{$breakpoint-pc}px) {
        padding-right: pxtovw(10, 'pc');
        padding-left: pxtovw(10, 'pc');
    }

    @media screen and (max-width: #{$breakpoint-tb}px) {
        padding: 0 15px;
    }
}

/*  header-logo
--------------------------------------------- */
.header-logo {
    width: 282px;

    @media screen and (max-width: #{$breakpoint-pc}px) {
        width: pxtovw(282, 'pc');
    }

    @media screen and (max-width: #{$breakpoint-tb}px) {
        width: 218px;

        img {
            width: 100%;
        }
    }

    a {
        display: block;

        @media screen and (min-width: #{$breakpoint-tb + 1}px) {
            @include hover-opacity();
        }
    }
}

/*  header-nav
--------------------------------------------- */
.header-nav {
    $host: &;
    display: flex;
    align-items: center;

    @media screen and (min-width: #{$breakpoint-tb + 1}px) {
        height: 100%;
        display: block !important;
    }

    @media screen and (max-width: #{$breakpoint-tb}px) {
        position: fixed;
        top: 60px;
        right: 0;
        left: auto;
        z-index: 2000;
        box-sizing: border-box;
        display: none;
        height: calc(100vh - 60px);
        overflow-y: scroll;
        background-color: $white1;
        padding-bottom: 30px;
        width: 375px;
        -ms-overflow-style: none;
        /* IE, Edge 対応 */
        scrollbar-width: none;
        /* Firefox 対応 */

        &::-webkit-scrollbar {
            display: none;
        }
    }

    @media screen and (max-width: #{$breakpoint-sp}px) {
        width: 100%;
        padding-bottom: pxtovw(15, 'sp');
    }

    @at-root {
        .js-sp-menu-opened & {
            display: block;
        }
    }

    &__inner {
        display: flex;
        align-items: center;

        @media screen and (min-width: #{$breakpoint-tb + 1}px) {
            height: 100%;
        }

        @media screen and (max-width: #{$breakpoint-tb}px) {
            padding: 0 20px;
            display: block;
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            padding: 0 pxtovw(20, 'sp');
        }
    }

    &__menu {
        margin-right: 40px;

        @media screen and (max-width: 1400px) {
            margin-right: 20px;
        }

        @media screen and (max-width: #{$breakpoint-pc}px) {
            margin: 0 pxtovw(20, 'pc');
        }

        @media screen and (min-width: #{$breakpoint-tb + 1}px) {
            height: 100%;
        }

        @media screen and (max-width: #{$breakpoint-tb}px) {
            display: flex;
            flex-direction: column-reverse;
            margin: 0;
        }
    }

    &__btn {
        @media screen and (max-width: #{$breakpoint-tb}px) {
            display: flex;
            justify-content: center;
            margin-top: 35px;
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            margin-top: pxtovw(35, 'sp');
        }
    }
}

/*  header-menu-button
--------------------------------------------- */
.header-menu-button {
    position: relative;
    display: block;
    border: 0;
    border-radius: 0;
    background: none;
    margin: 0;
    box-shadow: none;
    appearance: none;
    outline: none;
    cursor: pointer;

    @media screen and (min-width: #{$breakpoint-tb + 1}px) {
        display: none;
    }

    &__lines {
        position: relative;
        display: block;
        width: 22px;
        height: 19px;
    }

    &__line {
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 0;
        padding-top: 3px;
        background-color: $theme1;
        transition: 500ms;

        &--top {
            top: 0;

            @at-root .js-sp-menu-opened & {
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
            }
        }

        &--center {
            top: 50%;
            margin-top: -1px;

            @at-root .js-sp-menu-opened & {
                background-color: rgba(0,0,0,0);
            }
        }

        &--bottom {
            bottom: 0;

            @at-root .js-sp-menu-opened & {
                bottom: 50%;
                transform: translateY(50%) rotate(-45deg);
            }
        }
    }
}
