
/*  #menu-header-nav
--------------------------------------------- */
.menu-header-nav-container {
    @media screen and (min-width: #{$breakpoint-tb + 1}px) {
        height: 55%;
    }
}

#menu-header-nav {
    display: flex;
    justify-content: space-between;
    border-top: 1px dotted $black2;

    @media screen and (min-width: #{$breakpoint-tb + 1}px) {
        height: 100%;
    }

    @media screen and (max-width: #{$breakpoint-tb}px) {
        display: block;
        border-top: none;
    }

    > .menu-item {
        @media screen and (min-width: #{$breakpoint-tb + 1}px) {
            display: flex;
            align-items: center;
        }

        @media screen and (max-width: #{$breakpoint-tb}px) {
            border-bottom: 1px dashed $theme1;

            &.acc-opened {
                border-color: rgba($white1,0);
            }
        }

        &.menu-item-30 {
            @media screen and (min-width: #{$breakpoint-tb + 1}px) {
                display: none;
            }
        }

        > a {
            display: block;
            font-size: pxtorem(14, 'pc');
            color: $black2;
            cursor: pointer;
            padding: 17px 20px;
            transition: 0.3s;
            height: 100%;
            white-space: nowrap;
            display: flex;
            align-items: center;

            @media screen and (max-width: 1500px) {
                font-size: pxtovw(14, 'pc');
                padding: pxtovw(17, 'pc') pxtovw(10, 'pc');
            }

            @media screen and (max-width: #{$breakpoint-tb}px) {
                position: relative;
                font-size: pxtorem(14, 'pc');
                color: $theme1;
                padding: 14px 0;
                padding-left: 65px;

                &:before {
                    display: inline-block;
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                }

                &:after {
                    display: inline-block;
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 13px;
                    height: 12px;
                    transform: translateY(-50%) rotate(180deg);
                    background: url("../img/common/icon_arrow-acc.svg") 0 0 no-repeat;
                    background-size: 100% auto;
                    transition: 0.3s;
                }
            }

            @media screen and (max-width: #{$breakpoint-sp}px) {
                padding: pxtovw(14, 'sp') 0;
                padding-left: pxtovw(65, 'sp');
                font-size: pxtorem(16, 'sp');

                &:after {
                    width: pxtovw(13, 'sp');
                    height: pxtovw(12, 'sp');
                }
            }
        }

        &.acc-opened a:after {
            transform: translateY(-50%) rotate(0deg);
        }

        &.menu-item-30 > a {
            &:before {
                left: 15px;
                width: 26px;
                height: 25px;
                background-image: url("../img/common/sp/icon_header-logo_01.svg");

                @media screen and (max-width: #{$breakpoint-sp}px) {
                    left: pxtovw(15, 'sp');
                    width: pxtovw(26, 'sp');
                    height: pxtovw(25, 'sp');
                }
            }

            &:after {
                content: none;
            }
        }

        &.menu-item-22 > a {
            &:before {
                left: 12px;
                width: 31px;
                height: 21px;
                background-image: url("../img/common/sp/icon_header-logo_02.svg");

                @media screen and (max-width: #{$breakpoint-sp}px) {
                    left: pxtovw(12, 'sp');
                    width: pxtovw(31, 'sp');
                    height: pxtovw(21, 'sp');
                }
            }
        }

        &.menu-item-34 > a {
            &:before {
                left: 17px;
                width: 22px;
                height: 27px;
                background-image: url("../img/common/sp/icon_header-logo_03.svg");

                @media screen and (max-width: #{$breakpoint-sp}px) {
                    left: pxtovw(17, 'sp');
                    width: pxtovw(22, 'sp');
                    height: pxtovw(27, 'sp');
                }
            }
        }

        &.menu-item-33 > a {
            &:before {
                left: 14px;
                width: 26px;
                height: 35px;
                background-image: url("../img/common/sp/icon_header-logo_04.svg");

                @media screen and (max-width: #{$breakpoint-sp}px) {
                    left: pxtovw(14, 'sp');
                    width: pxtovw(26, 'sp');
                    height: pxtovw(35, 'sp');
                }
            }
        }

        &.menu-item-32 > a {
            &:before {
                left: 9px;
                width: 37px;
                height: 33px;
                background-image: url("../img/common/sp/icon_header-logo_05.svg");

                @media screen and (max-width: #{$breakpoint-sp}px) {
                    left: pxtovw(9, 'sp');
                    width: pxtovw(37, 'sp');
                    height: pxtovw(33, 'sp');
                }
            }
        }

        &.menu-item-31 > a {
            &:before {
                left: 16px;
                width: 25px;
                height: 32px;
                background-image: url("../img/common/sp/icon_header-logo_06.svg");

                @media screen and (max-width: #{$breakpoint-sp}px) {
                    left: pxtovw(16, 'sp');
                    width: pxtovw(25, 'sp');
                    height: pxtovw(32, 'sp');
                }
            }
        }

        &.menu-item-93 {
            @media screen and (min-width: #{$breakpoint-tb + 1}px) {
                display: none;
            }

           > a {
                &:before {
                    left: 11px;
                    width: 34px;
                    height: 34px;
                    background-image: url("../img/common/sp/icon_header-logo_07.svg");

                    @media screen and (max-width: #{$breakpoint-sp}px) {
                        left: pxtovw(11, 'sp');
                        width: pxtovw(34, 'sp');
                        height: pxtovw(34, 'sp');
                    }
                }

                &:after {
                    content: none;
                }
            }
        }
    }

    > .menu-item:hover a {
        @media screen and (min-width: #{$breakpoint-tb + 1}px) {
            color: $white1;
            background-color: $pink1;
        }
    }

    .sub-menu {
        justify-content: center;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: 0.3s;
        padding: 90px 10px 35px;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            padding: pxtovw(90, 'pc') pxtovw(10, 'pc') pxtovw(35, 'pc');
        }

        @media screen and (min-width: #{$breakpoint-tb + 1}px) {
            @include hover-opacity();
            display: flex !important;
            pointer-events: none;
        }

        @media screen and (max-width: #{$breakpoint-tb}px) {
            position: static;
            padding: 0;
            display: none;
            border-top: none;
            opacity: 1;
            background-color: $theme1;
            left: 0;
            transform: translateX(0);
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 0 15px 10px;
            transition: 0s;
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            border-bottom-left-radius: pxtovw(20, 'sp');
            border-bottom-right-radius: pxtovw(20, 'sp');
            padding: 0 pxtovw(15, 'sp') pxtovw(10, 'sp');
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
            width: 100vw;
            height: 100%;
            background-color: $pink1;

            @media screen and (max-width: #{$breakpoint-tb}px) {
                content: none;
                left: 0;
                transform: translateX(0);
            }
        }

        .menu-item {
            margin-right: 25px;

            @media screen and (max-width: #{$breakpoint-pc}px) {
                margin-right: pxtovw(25, 'pc');
            }

            @media screen and (max-width: #{$breakpoint-tb}px) {
                margin-right: 0;
                border-bottom: 1px dashed $white1;

                &:last-of-type {
                    border-bottom: none;
                }
            }

            a {
                display: block;
                font-size: pxtorem(16, 'pc');
                color: $white1;
                white-space: nowrap;
                padding: 0;

                @media screen and (min-width: #{$breakpoint-tb + 1}px) {
                    @include hover-opacity();
                }

                @media screen and (max-width: #{$breakpoint-pc}px) {
                    font-size: pxtovw(16, 'pc');
                }

                @media screen and (max-width: #{$breakpoint-tb}px) {
                    font-size: pxtorem(14, 'pc');
                    padding: 13px 10px;
                    padding-left: 15px;

                    &:before {
                        content: "・";
                    }
                }

                @media screen and (max-width: #{$breakpoint-sp}px) {
                    font-size: pxtorem(14, 'sp');
                    padding: pxtovw(13, 'sp') pxtovw(10, 'sp');
                    padding-left: pxtovw(15, 'sp');
                }
            }

            &:first-of-type {
                position: absolute;
                top: 25px;
                left: 0;
                width: 100%;
                border-bottom: 1px solid $white1;
                padding-bottom: 10px;
                margin-right: 0;
                padding-left: 10px;

                @media screen and (max-width: #{$breakpoint-pc}px) {
                    top: pxtovw(25, 'pc');
                    padding-left: pxtovw(10, 'pc');
                    padding-bottom: pxtovw(10, 'pc');
                }

                @media screen and (max-width: #{$breakpoint-tb}px) {
                    position: static;
                    border-bottom: 1px dashed $white1;
                    padding-bottom: 0;
                    padding-left: 0;
                }

                a {
                    font-size: pxtorem(20, 'pc');

                    @media screen and (max-width: #{$breakpoint-pc}px) {
                        font-size: pxtovw(20, 'pc');
                    }

                    @media screen and (max-width: #{$breakpoint-tb}px) {
                        font-size: pxtorem(14, 'pc');
                    }

                    @media screen and (max-width: #{$breakpoint-sp}px) {
                        font-size: pxtorem(14, 'sp');
                    }
                }
            }
        }
    }

    .is-opened .sub-menu {
        opacity: 1;
        pointer-events: auto;
    }
}

/*  #menu-header-sub-nav
--------------------------------------------- */
.menu-header-sub-nav-container {
    @media screen and (min-width: #{$breakpoint-tb + 1}px) {
        height: 45%;
    }
}

#menu-header-sub-nav {
    display: flex;
    justify-content: flex-end;

    @media screen and (min-width: #{$breakpoint-tb + 1}px) {
        height: 100%;
    }

    @media screen and (max-width: #{$breakpoint-tb}px) {
        display: block;
        margin-top: 20px;
    }

    @media screen and (max-width: #{$breakpoint-sp}px) {
        margin-top: pxtovw(20, 'sp');
    }

    .menu-item {
        padding: 13px 0;
        margin-right: 30px;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            padding: pxtovw(13, 'pc') 0;
            margin-right: pxtovw(40, 'pc');
        }

        @media screen and (min-width: #{$breakpoint-tb + 1}px) {
            display: flex;
            align-items: center;
        }

        @media screen and (max-width: #{$breakpoint-tb}px) {
            border-bottom: 1px dashed;
            margin-right: 0;
            padding: 0;
            text-align: center;
        }

        &:last-of-type {
            margin-right: 0;
        }

        a {
            display: block;
            font-size: pxtorem(12, 'pc');
            color: $theme1;
            position: relative;
            padding: 1px 10px;
            white-space: nowrap;

            @media screen and (max-width: #{$breakpoint-pc}px) {
                font-size: pxtovw(12, 'pc');
                padding: pxtovw(1, 'pc') pxtovw(10, 'pc');
            }

            @media screen and (min-width: #{$breakpoint-tb + 1}px) {
                transition: 0.3s;

                &:hover {
                    color: $white1;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    background-color: $theme1;
                    border-radius: 100px;
                    opacity: 0;
                    transition: 0.3s;
                }

                &:hover:after {
                    opacity: 1;
                }
            }

            @media screen and (max-width: #{$breakpoint-tb}px) {
                font-size: pxtorem(14, 'pc');
                text-align: center;
                display: inline-block;
                text-align: center;
                padding: 15px 0;
                color: $black2;
            }

            @media screen and (max-width: #{$breakpoint-sp}px) {
                font-size: pxtorem(14, 'sp');
                padding: pxtovw(15, 'sp') 0;
            }
        }
    }

    .menu-item-41 {
        @media screen and (min-width: #{$breakpoint-tb + 1}px) {
            display: none;
        }
    }

    .menu-item-42 {
        position: relative;
        padding-left: 15px;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            padding-left: pxtovw(10, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-tb}px) {
            display: none;
        }

        &:before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 11px;
            height: 15px;
            content: "";
            background: url("../img/common/icon_access.svg") 0 0 no-repeat;
            background-size: 100% auto;

            @media screen and (max-width: #{$breakpoint-pc}px) {
                width: pxtovw(11, 'pc');
                height: pxtovw(15, 'pc');
            }
        }
    }

    .menu-item-40 {
        position: relative;
        padding-left: 15px;

        @media screen and (max-width: #{$breakpoint-pc}px) {
            padding-left: pxtovw(15, 'pc');
        }

        @media screen and (max-width: #{$breakpoint-tb}px) {
            display: none;
        }

        &:before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 12px;
            height: 15px;
            content: "";
            background: url("../img/common/icon_document.svg") 0 0 no-repeat;
            background-size: 100% auto;

            @media screen and (max-width: #{$breakpoint-pc}px) {
                width: pxtovw(12, 'pc');
                height: pxtovw(15, 'pc');
            }
        }
    }

    .menu-item-41 > a {
        @media screen and (max-width: #{$breakpoint-tb}px) {
            position: relative;
            padding-right: 30px;

            &:before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                width: 21px;
                height: 26px;
                content: "";
                background: url("../img/common/icon_xlsx.svg") 0 0 no-repeat;
                background-size: 100% auto;
            }
        }

        @media screen and (max-width: #{$breakpoint-sp}px) {
            padding-right: pxtovw(30, 'sp');

            &:before {
                width: pxtovw(21, 'sp');
                height: pxtovw(26, 'sp');
            }
        }
    }
}

