
main {
    max-width: 1080px;
    margin: 200px auto;
}
.grid-parent {
    display: grid;
    height: 400px;
    margin-bottom: 400px;
}
.grid {
    background-color: hsl(199, 97%, 71%);
    color: rgb(49, 49, 49);
    border: 1px solid black;
    font-size: 24px;
    text-align: center;
}
.grid:nth-child(2n) {
    background-color: hsl(192, 80%, 45%);
}

