.grid-parent--threebythree {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-parent--repeat {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-parent--minmax {
    grid-template-columns: minmax(100px, 1fr) 1fr 1fr;
    grid-template-rows: minmax(200px, 2fr) 1fr 1fr;
}

.grid-parent--alternate {
    grid-template-columns: 1fr 1fr
    minmax(10px, 1fr) 3fr
    repeat(5, 1fr)
    50px auto 100px 1fr ;
    grid-template-rows: min-content 1fr min-content
    100px 1fr max-content ;

   
  }
.grid-parent--template-areas {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "header header header header" 
    "sidebar . main main"
    "footer footer footer footer";
}
.header {
    grid-area: header;
}
.sidebar {
    grid-area: sidebar;
}
.main {
    grid-area: main;
}
.footer {
    grid-area: footer;
}
.grid-parent--names {
    grid-template:
        [row1-start] "header header header" 100px [row1-end]
        [row2-start] "footer footer footer" 80px [row2-end]
        / auto 85px auto;
}
.rows-columns {
    row-gap: 40px;
    column-gap: 20px;
    /* gap: 10px 10px; */
}


.grid-parent--grid-auto {
    grid-auto-flow: column;
    /* grid-auto-rows: 1fr; */
}

.grid-parent--grid-span {
    grid-template-columns: 200px 250px;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 20px;
}
.grid-parent--grid-span .grid-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.grid-parent--grid-span .grid-2 {
    grid-row-start: 2;
    grid-row-end: 3;
}

