// ogakijoshitandai fv
.fv {
	width: 95vw;
	display: block;
	margin: 0 auto 55px;
	background: center / cover url(../img/bg-fv.jpg) no-repeat;
	height: 580px;
	position: relative;
	&__text-bubble {
		text-align: center;
		max-width: 604px;
		margin: 0 auto;
		min-height: 304px;
		img {
			&:nth-child(1) {
				position: absolute;
				left: 50%;
				transform: translatex(-50%);
				top: -1px;
			}
			&:nth-child(2) {
				position: relative;
				top: -15px;
				width: 70%;
				max-width: 395px;
			}
		}
	}
	&__character {
		margin: 0 auto;
		display: block;
		position: relative;
		max-width: 650px;
		img {
			position: absolute;
			&:nth-child(1) {
				top: 62px;
			}
			&:nth-child(2) {
				top: 26px;
				left: 100px;
			}
			&:nth-child(3) {
				top: 97px;
				left: 160px;
			}
		}
	}
	&__btm {
		text-align: center;
		min-height: 62px;
		width: 100%;
		background: $pink-diag;
		font: rem(24) $serif;
		padding: 12px 0;
		position: absolute;
		bottom: -47px;
	}
	&__under-txt {
		margin: 0 auto 17px;
		padding-top: 20px;
		text-align: center;
		font: rem(34) $serif;
		position: relative;
		&::after {
			content: url(../img/arrow-down.png);
			position: absolute;
			display: block;
			left: 50%;
			transform: translatex(-50%);
		}
	}
	@include tab {
		background-image: url(../img/bg-fv--sp.jpg);
	}
	@include sp {
		height: 509px;
		&__text-bubble {
			min-height: auto;
		}
		&__character {
			text-align: center;
			width: 50vw;
			margin: 0 auto;
			transform: translatex(-45vw);
			bottom: 20px;
			position: absolute;
			left: 50vw;
			img {
				position: relative;
				max-width: 80vw;
			}
			img:nth-child(1) {
				bottom: 10px;
				top: auto;
				position: absolute;
				left: -5%;
			}
			img:nth-child(2) {
				top: -110px;
				max-width: 330px;
				left: 55px;
				width: 70vw;
			}
			img:nth-child(3) {
				top: -90px;
				max-width: 330px;
				left: 55px;
				width: 70vw;
			}
		}
		&__under-txt {
			font-size: rem(28);
		}
	}
}



// ogaki chance

.chance {
	background-color: #fff;
	position: relative;
	text-align: center;
	padding-bottom: 135px;
	&-diagonal {
		&::before {
			content: "";
			display: block;
			width: 110%;
			height: 270px;
			background-color: #fff;
			transform: skew(0deg, -7deg);
			z-index: 0;
			position: absolute;
			top: -87px;
			left: -10%;
		}
		&::after {
			content: url(../img/arrow-dots-down.png);
			position: absolute;
			top: -160px;
			left: 50%;
			transform: translatex(-50%);
		}
	}
	&__chance-txt {
		position: relative;
		z-index: 2;
		max-width: 95vw;
		margin: 0 auto;
		h3 {
			position: relative;
			z-index: 5;
			font: 500 rem(34) $serif;
			border: 1px solid #ff7b9f;
			display: inline-block;
			padding: 7px 35px 10px;
			margin: 0 auto 50px;
			transform: skew(-23deg, 0deg);
			-webkit-box-shadow: 9px 7px 0px 0px rgb(255 214 225 / 85%);
			box-shadow: 9px 7px 0px 0px rgb(255 214 225 / 85%);
			.straighten {
				display: block;
			}
			.txt-pink-med {
				font-size: rem(38);
			}
			&::before {
				content: url(../img/txt-chance.png);
				position: absolute;
				left: -148px;
				top: -100px;
			}
			&::after {
				content: url(../img/blue-lines.png);
				position: absolute;
				left: -70px;
				top: 50px;
			}
		}
		&--straighten,
		&--straighten *,
		&--straighten::after,
		&--straighten::before {
			transform: skew(23deg, 0deg);
		}
		p {
			display: inline-block;
			font-size: rem(20);
			line-height: 1.6;
			position: relative;
			margin: 0;
			.highlight {
				font-weight: 700;
			}
			&::after {
				content: url(../img/ph-chance.png);
				position: absolute;
				bottom: 0;
				z-index: 5;
				right: -135px;
			}
		}
	}
	@include med {
		&__chance-txt {
			p::after {
				display: none;
			}
		}
	}
	@include tab {
		p::after {
			display: none;
		}
	}
	@include tab-ver {
		&__chance-txt {
			h3 {
				max-width: 85vw;
				&::before {
					left: -11vw;
				}
				.txt-pink-med {
					display: block;
					transform: none;
				}
			}
		}
	}
	@include sp {
		&__chance-txt {
			h3 {
				font-size: rem(22);
				padding: 7px 20px 10px;
				max-width: 95%;
				.txt-pink-med {
					font-size: rem(24);
				}
				&::before {
					position: absolute;
					left: -20vw;
					top: -95px;
					transform: skew(23deg, 0deg) scale(0.6);
				}
				&::after {
					left: -40px;
					top: 15px;
				}
			}
			p {
				font-size: rem(17);
				&::after {
					display: none;
				}
				.highlight {
					margin-bottom: -10px;
				}
			}
		}
		padding-bottom: 5vh;
	}
	@media screen and (max-width: 350px) {
		&__chance-txt {
			h3 {
				font-size: rem(18);
			}
		}
	}
}